In [3]:
print('hello world')

hello world

In [4]:
a=56
print(a)

56

In [5]:
a='hello everyone'
print(a)

hello everyone

In [ ]:
# all variable is legal 

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [4]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
#casting 

x=int(3) 
y=str(3)
z=float(3) 

print(x,y,z) 

print(type(y))

3 3 3.0
<class 'str'>

In [10]:
a,b,c= 'jay','akash','rushi'
print(a,b,c)

jay akash rushi

In [12]:
a=b=c= 'apple'
print(a)
print(b)
print(c)

apple
apple
apple

In [13]:
# unpack list 

city=['mumbai','dehli','goa']
x,y,z=city 
print(x,y,z)

mumbai dehli goa

In [14]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [1]:
a='how are you'
print(a[0:])
print(a[1:])
print(a[4::])
print(a[5:9])
print(len(a))

print(a[-1]) 
print(a[::-1])
print(a[0: :2])

how are you
ow are you
are you
re y
11
u
uoy era woh
hwaeyu

In [2]:
    # DataType Output: str
x = "Hello World"

# DataType Output: int
x = 50

# DataType Output: float
x = 60.5

# DataType Output: complex
x = 3j

# DataType Output: list
x = ["geeks", "for", "geeks"]

# DataType Output: tuple
x = ("geeks", "for", "geeks")

# DataType Output: range
x = range(10) 

# DataType Output: dict
x = {"name": "Suraj", "age": 24}

# DataType Output: set
x = {"geeks", "for", "geeks"}

# DataType Output: frozenset
x = frozenset({"geeks", "for", "geeks"})

# DataType Output: bool
x = True

# DataType Output: bytes
x = b"Geeks"

# DataType Output: bytearray
x = bytearray(4)

# DataType Output: memoryview
x = memoryview(bytes(6))

# DataType Output: NoneType
x = None

In [21]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [22]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [3]:


# Python program to
# demonstrate numeric value
 
a = 5
print("Type of a: ", type(a))
 
b = 5.0
print("\nType of b: ", type(b))
 
c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [24]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [29]:
# Import the random module, and display a random number between 1 and 9:
import random
print(random.randrange(1, 10))

3

#### string

In [2]:
b = "Hello, World!"
print(b[2:5])


b = "Hello, World!"
print(b[:5])

llo
Hello

In [3]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [5]:

# string modifieer 

a = "Hello, everyone!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

HELLO, EVERYONE!
hello, world!

In [9]:
a= " hello  to  everyone"

print(a.strip( ))

hello  to  everyone

In [10]:
a= " hello to everyone" 

print(a.replace('hello' ,'hey'))

 hey to everyone

In [17]:
a = "Hello ,to ,everyone, over ,there !"
print(a.split(",")) 



a = "Hello ? to ? you ? over ? there !"
print(a.split("?"))

['Hello ', 'to ', 'everyone', ' over ', 'there !']
['Hello ', ' to ', ' you ', ' over ', ' there !']

In [ ]:
# String Concatenation

In [18]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [26]:
a = "Hello"
b = "everyone"
c = a + "  " + b
print(c)

Hello  everyone

In [27]:
a = "Hello"
a1="to"
b = "everyone"

c=a+ " " + a1+ " " +b
print(c)

Hello to everyone

In [30]:
age = 36
txt = print(f"My name is John, I am  {age}")  
print(txt)

My name is John, I am  36
None

In [34]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (2365020280.py, line 1)

In [36]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
# string slicing 

a='how are you'
print(a[0:])
print(a[1:])
print(a[4::])
print(a[5:9])
print(len(a))

print(a[-1]) 

print(a[0: :2])

In [37]:
## Bollen 

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [38]:
print(bool("Hello"))
print(bool(15))

True
True

In [18]:
def my_funct() :
    x='wowbbb'
    

my_funct()
print(f"python is {x}")

python is fantastic

In [15]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [1]:
# Python program to illustrate a list 

# creates a empty list 
nums = [] 

# appending data in list 
nums.append(21) 
nums.append(40.5) 
nums.append("String") 

print(nums)

[21, 40.5, 'String']

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

### list

In [24]:
List = []
print("Initial blank List: ")
print(List)
 
# Creating a List with
# the use of a String
List = ['GeeksForGeeks']
print("\nList with the use of String: ")
print(List)
 
# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)
print(List[0])
print(List[1])
print(List[0:1])

Initial blank List:
[]

List with the use of String:
['GeeksForGeeks']

List containing multiple values:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]
['Geeks', 'For']
['Geeks']
[['Geeks', 'For']]

In [7]:
List = ["hello", "Everyone", "howRyou"]

print(List[0])
print(List[2])

print(List[-1])
print(List[-3])

hello
howRyou
howRyou
hello

In [39]:
## list is mutable 

l1=[45,56,78,89,45,123,'jay']
print(type(l1))
print(l1)

print(l1.remove('jay'))
print(l1)

print(l1.sort())

print(l1.append(4568))
print(l1)

print(l1.remove(78))
print(l1)

print(l1.pop())
print(l1)

print(l1.index(123))

print(l1[0:2])

l1[0]=100 # change 
print(l1)

<class 'list'>
[45, 56, 78, 89, 45, 123, 'jay']
None
[45, 56, 78, 89, 45, 123]
None
None
[45, 45, 56, 78, 89, 123, 4568]
None
[45, 45, 56, 89, 123, 4568]
4568
[45, 45, 56, 89, 123]
4
[45, 45]
[100, 45, 56, 89, 123]

####

In [42]:
#tuple is unmutable 

tuple=(545,89,78,65,54)
print(type(tuple))

print(tuple.count(545))

print(tuple.index(78))

print(tuple.__contains__(78))

# tuple[0]=20 # it will not run bcoz tuple is immutable

print(tuple)

<class 'tuple'>
1
2
True
(545, 89, 78, 65, 54)

In [52]:
#set 
# set is mutable but  it not allowed repetation / dublicate 

set={23,56,78,87,65,2354,2354,456,33,33,87,87,78,1,1,22}

set2={1,56,99,66,44,22,22}

print(type(set)) 
print(set)

print(set.pop())
print(set.remove(2354))
print(set)

print(set.intersection(set2))  #56,1  it will give you op that common between both set 

print(set.union(set2))   # it will give you all value in both set 

print(set.__contains__(456))
print(set)

<class 'set'>
{65, 1, 33, 456, 78, 2354, 22, 23, 87, 56}
65
None
{1, 33, 456, 78, 22, 23, 87, 56}
{56, 1, 22}
{1, 33, 66, 99, 456, 44, 78, 22, 23, 87, 56}
True
{1, 33, 456, 78, 22, 23, 87, 56}

In [34]:
def greet(name):
    print("Hello, " + name + " how r U")

greet("Alice")

Hello, Alice how r U

In [ ]:
"""Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning"""