#### join

In [8]:
word_list = ['Sunshine', 'Elephant', 'Computer', 'Adventure', 'Strawberry',  'Serendipity', 'Tranquility', 'Enigma']


list1= "=".join(word_list)

print(list1)

Sunshine=Elephant=Computer=Adventure=Strawberry=Serendipity=Tranquility=Enigma

In [9]:
word_list = ['Sunshine', 'Elephant', 'Computer', 'Adventure', 'Strawberry',  'Serendipity', 'Tranquility', 'Enigma']


list1= "<>".join(word_list)

print(list1)

Sunshine<>Elephant<>Computer<>Adventure<>Strawberry<>Serendipity<>Tranquility<>Enigma

In [10]:
word_list = ['Sunshine', 'Elephant', 'Computer', 'Adventure', 'Strawberry',  'Serendipity', 'Tranquility', 'Enigma']


list1= "\n".join(word_list)

print(list1)

Sunshine
Elephant
Computer
Adventure
Strawberry
Serendipity
Tranquility
Enigma

#### MAP

In [ ]:
# The map() function takes each element from the iterable, applies the specified function to it,
# and returns an iterator over the results.

In [13]:
# regular method 

def square(num):
    return num*num 

list1=[2,4,9,8,6]  

square_list = []

for i in list1 :
    square_list.append(square(i)) 
    
print(square_list)

[4, 16, 81, 64, 36]

In [ ]:
# map handle both cases in just one line of code

In [18]:
# Map method 


def square(no) :
    return no*no 

list2=[2,4,9,8,6] 

# print(map(square,list2) )    # it is in list form so we have to mention it into list 


print(list(map(square,list2)))   # look

[4, 16, 81, 64, 36]

In [1]:
def cube(no) :
    return no ** 3 


list1 = [1,2,3,4,5,6,7,8,9] 


print(list(map(cube,list1)))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
# by using lambda function 

cube_list =[1,2,3,4,5,6,7,8,9]  

cube_ans= list( map(lambda x: x**3 ,cube_list) )


print(cube_ans)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [4]:
list_1 =[1,2,3,4,5,6,7,8,9]  
list_2 =[1,2,3,4,5,6,7,8,9]  

ans=list(map(lambda x,y:x*y , list_1,list_2)) 

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
word= ["apple", "banana","papaya"] 

upper_word =list(map(str.upper , word)) 

print(upper_word)

['APPLE', 'BANANA', 'PAPAYA']

In [7]:
def funt(cart) :
    return cart["name"] 
 
    

cart= [ 
       {"name":"apple" ,"price":50 , "quantity":4 },
       {"name":"orange" ,"price":100 , "quantity":2 },
       {"name":"book" ,"price":1000, "quantity":1 },
       {"name":"bat" ,"price":10 , "quantity":10 }
]  




list(map(funt , cart))

['apple', 'orange', 'book', 'bat']

In [20]:

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temperatures_celsius = [0, 10, 20, 30, 40]

temperatures_fahrenheit = map(celsius_to_fahrenheit, temperatures_celsius)

print(list(temperatures_fahrenheit))

[32.0, 50.0, 68.0, 86.0, 104.0]

In [22]:

names = ["alice", "bob", "charlie", "david"]


capitalized_names = map(str.capitalize, names)


print(list(capitalized_names))

['Alice', 'Bob', 'Charlie', 'David']

In [23]:
import math


numbers = [1, 4, 9, 16, 25]

square_roots = map(math.sqrt, numbers)

print(list(square_roots))

[1.0, 2.0, 3.0, 4.0, 5.0]

## filter

### filter function itreate for which function return true it is used to filter item from list based on condition

In [ ]:
# filter creates a  list of item for which function return true  

# The filter() function returns an iterator containing only the elements of the iterable for which the function returns True

In [4]:
# Define a function to check if a number is even
def is_even(x):
    return x % 2 == 0


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]


even_numbers = filter(is_even, numbers)

# Convert the iterator to a list 
print(list(even_numbers))

[2, 4, 6, 8]

In [7]:
def greaterthan10(no):
    if no>10:
        return True 
    else:
        return False 
    
    
list1=[2,4,1,7,90,78]

check= map(greaterthan10,list1)

print(list(check))    #see

[False, False, False, False, True, True]

In [6]:
def greaterthan10(no):
    if no>10:
        return True 
    else:
        return False 
    
    
list1=[2,4,1,7,90,78]

check= filter(greaterthan10,list1)

print(list(check))   # see

[90, 78]

In [16]:
def greaterthan15(no):
    if no>=15 and no <=50:
        return True 
    else:
        return False 
    
list5=[22,55,88,99,44,1,2,3,4,5,6,7,8,9] 

sort=(filter(greaterthan15,list5)) 


print(list(sort))

[22, 44]

In [8]:

    
list5=[22,55,88,99,44,1,2,3,4,5,6,7,8,9]  

lambdasort = lambda x:x>80 

lambda_filter= filter(lambdasort , list5) 

print(list(lambda_filter))

[88, 99]

In [17]:

names = ["Alice", "Bob", "Charlie", "David", "Anna", "Alex"]

# Use filter to keep only names starting with 'A'
filtered_names = filter(lambda x: x.startswith('A'), names)


print(list(filtered_names))

['Alice', 'Anna', 'Alex']

In [21]:
data= ["Bob", "Charlie", "David", "Anna"] 


filter_data=filter(lambda x: x.endswith('a'), data) 

print(list(filter_data))

['Anna']

In [33]:
number_list= [25,-8,-1,9,-12,-78] 

positive_no =filter(lambda no : no >0 ,number_list) 

print(list(positive_no))

[25, 9]

In [34]:
words = ["radar", "python", "level", "hello", "civic"]  

palindrome =filter(lambda x:x == x[::-1] , words)

print(list(palindrome))

['radar', 'level', 'civic']

In [13]:
words = ["radar", "python", "level", "hello", "civic"]  

x= lambda x:x == x[::-1] 

palindrome =filter(x , words)

print(list(palindrome))

['radar', 'level', 'civic']

In [14]:
data10=[5,25,50,55,90,100,88,44,33,11,77,66,99,21,43,76,89] 

lmb=lambda x : x % 5 ==0  

print(list(filter(lmb,data10)))

[5, 25, 50, 55, 90, 100]

In [15]:
input1=["civic","jay","narendra","india"] 

output1=filter( lambda x: x==x[::-1] , input1 )

print(list(output1))

['civic']

In [23]:
data10=[5,25,50,55,90,100,88,44,33,11,77,66,99,21,43,76,89,130,140]  

logic = lambda x : x>5 and x%5 == 0 

ans = list(filter(logic,data10 )) 

print(ans)

[25, 50, 55, 90, 100, 130, 140]

In [31]:
cart= [ 
       {"name":"apple" ,"price":50 , "quantity":4 },
       {"name":"orange" ,"price":100 , "quantity":2 },
       {"name":"book" ,"price":1000, "quantity":1 },
       {"name":"bat" ,"price":10 , "quantity":10 }
]


def funt(cart) : 
    return cart["price"] > 800 


output = list(filter(funt , cart)) 

print(output)

[{'name': 'book', 'price': 1000, 'quantity': 1}]

### Reduce

In [ ]:
# It is used to apply a function cumulatively to the items of an iterable, from left to right, 
#so as to reduce the iterable to a single cumulative result.

In [18]:
from functools import reduce  

sum = lambda x , y : x+y 

l = [10,20,30,40] 

value =reduce(sum , l )

print(value)

100

In [49]:
number = [1,2,3,4,5] 

def fun(x,y):
    return x*y 


op=reduce( fun , number) 

print(op)

120

In [59]:
from functools import reduce

bool_values = [True, False, True, False]

# Use reduce to check if any element in the list is True
any_true = reduce(lambda x, y: x or y, bool_values)

print(any_true)

True

In [62]:
from functools import reduce

numbers = [8, 3, 6, 2, 10]


max_number = reduce(lambda x, y: x if x > y else y, numbers)

print(max_number)

10

In [21]:

words = ["Python", " is", " awesome!"]

sentence = reduce(lambda x, y: x + y, words)

print(sentence)

Python is awesome!

In [22]:
from functools import reduce

numbers = [5, 8, 2, 10, 3]

max_number = reduce(lambda x, y: x if x > y else y, numbers)

print(max_number)

10

In [63]:
from functools import reduce

data5 = [3, 6, 7, 8, 12]

def fun(x, y):
    if y > 10:
        return y
    else:
        return x

output5 = reduce(fun, data5)

print(output5)

12

In [39]:
from functools import reduce

n = 5

# Calculate the factorial of n using reduce
factorial = reduce(lambda x, y: x * y, range(1, n + 1))

print(factorial)

120

In [45]:
from functools import reduce

list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

# Combine elements from two lists element-wise using reduce
combined_list = reduce(lambda x, y: x + [y], list2, list1)

print(combined_list)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

### practise Question

In [ ]:
# virtualenv env1 

# virtualenv env2 



# env 1 \script \ activate .ps1   

# now you  are in env1 

# pip instal  x , y, z 

# pip freeze   --> you will get all package list tht you have install , and alredy exist 

# pip freeze > requirement.txt   --> it will crete new file of all you package 

# decativate env1 

# now    use env2  

# env 2 \script \ activate .ps1  

# now you  are in env2  

# pip install -r requirement.txt    -- > it will give you all packages including x,y,z s

In [2]:
# Q create vertical list of multiplication table 

# horizontal 

table = [str(i*7) for i in range(1,11)] 
print(table)

['7', '14', '21', '28', '35', '42', '49', '56', '63', '70']

In [4]:
# vertical  

vertable ="\n".join(table) 

print(vertable)

7
14
21
28
35
42
49
56
63
70

In [5]:
your_list = [10,11,23,45,77,88,99]  

diisible5 =lambda x : x % 5== 0 

output = filter(diisible5 , your_list) 

print(list(output))

[10, 45]

In [6]:
your_list = [10,11,23,45,77,88,99]   

output= filter( lambda x : x % 5== 0 , your_list)  

print(list(output))

[10, 45]

In [17]:
from functools import reduce 

your_list = [10,11,23,45,77,88,99]   

output= reduce( max, your_list)  

print(output)

99

In [ ]:
# explore the flask module and create a webserver using flask and python