### string

In [ ]:
# string are imautable

In [1]:
str1="jay"
print(str1)

jay

In [2]:
str2="raj"
print(str2)

raj

In [3]:
str2[1]

'a'

In [4]:
# string are immuatable 
str2[1]="k"

TypeError: 'str' object does not support item assignment

In [5]:
# list is mutable

In [ ]:
# List is a collection which is ordered and changeable. Allows duplicate members.

# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [1]:
List = []
print("Initial blank List: ")
print(List)
 
# Creating a List with
# the use of a String
List = ['GeeksForGeeks']
print("\nList with the use of String: ")
print(List)
 
# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)
print(List[0])
print(List[1])
print(List[0:1])

Initial blank List:
[]

List with the use of String:
['GeeksForGeeks']

List containing multiple values:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]
['Geeks', 'For']
['Geeks']
[['Geeks', 'For']]

In [6]:
List = ["hello", "Everyone", "howRyou"]

print(List[0])
print(List[2])

print(List[-1])
print(List[-3])

hello
howRyou
howRyou
hello

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

3
<class 'list'>

In [6]:
mylist = ["apple", "banana", "cherry"]
print(mylist)


thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
<class 'list'>

In [12]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])


thislist = ["apple", "banana", "cherry"]
print(thislist[-1])


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2]='FORTUNER' 
print(thislist) 

thislist.append('aeroplane')
print(thislist)  

thislist.append(['aeroplane','f35'])                   # it will add as a index 
print(thislist) 

thislist.extend(['destroyer' ,'corvet'])   # extend eill add it dorectly 
print(thislist) 


print(len(thislist)) 

in_it= "banana" in thislist
print(in_it)

['apple', 'banana', 'FORTUNER', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'FORTUNER', 'orange', 'kiwi', 'melon', 'mango', 'aeroplane']
['apple', 'banana', 'FORTUNER', 'orange', 'kiwi', 'melon', 'mango', 'aeroplane', ['aeroplane', 'f35']]
['apple', 'banana', 'FORTUNER', 'orange', 'kiwi', 'melon', 'mango', 'aeroplane', ['aeroplane', 'f35'], 'destroyer', 'corvet']
11
True

In [23]:
mixed_list = [10, "hello", 3.14, True] 

nested_list = [[1, 2, 3], ["a", "b", "c"]]

combine= mixed_list + nested_list 

print(combine)

[10, 'hello', 3.14, True, [1, 2, 3], ['a', 'b', 'c']]

In [24]:
mixed_list = [10, "hello", 3.14, True] 
print(mixed_list*2)

[10, 'hello', 3.14, True, 10, 'hello', 3.14, True]

In [12]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [13]:
## list is mutable 

l1=[45,56,78,89,45,123,'jay']
print(type(l1))
print(l1)

print(l1.remove('jay'))
print(l1)

print(l1.sort())

print(l1.append(4568))
print(l1)

print(l1.remove(78))
print(l1)

print(l1.pop())
print(l1)

print(l1.index(123))

print(l1[0:2])

l1[0]=100 # change 
print(l1)

<class 'list'>
[45, 56, 78, 89, 45, 123, 'jay']
None
[45, 56, 78, 89, 45, 123]
None
None
[45, 45, 56, 78, 89, 123, 4568]
None
[45, 45, 56, 89, 123, 4568]
4568
[45, 45, 56, 89, 123]
4
[45, 45]
[100, 45, 56, 89, 123]

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "india")
print(thislist)

['india', 'apple', 'banana', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)  #op --->  name 'thislist' is not defined

NameError: name 'thislist' is not defined

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)  # it have truncate list

[]

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] 

for x in thislist:
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango

In [35]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] 

for x in range(len(thislist)):
    print(thislist[x])

apple
banana
cherry
orange
kiwi
melon
mango

In [36]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [41]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [43]:
thislist = [100, 50, 65, 82, 23,89.56,78,23,54,56] 
thislist.sort(reverse=True)
print(thislist)

[100, 89.56, 82, 78, 65, 56, 54, 50, 23, 23]

In [45]:
indian_cities = ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Chennai"]

new_list= indian_cities.copy()  
print(new_list)

['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai']

In [46]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [50]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [48]:
# join two ilist

list1=[2,4,6,8,9]
list2=['a','b','c','f']

for x in list2:
    list1.append(x)
    
print(list1)

[2, 4, 6, 8, 9, 'a', 'b', 'c', 'f']

In [49]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Tuple
#### A tuple is a collection which is ordered and unchangeable.

In [51]:
tuple=(545,89,78,65,54) 
print(tuple)

(545, 89, 78, 65, 54)

In [52]:
# allow duplicate 
tuple=(545,89,78,65,54,54,545,89) 
print(tuple)

(545, 89, 78, 65, 54, 54, 545, 89)

In [54]:
thistuple = ("apple", "banana", "cherry")
print(type(thistuple))

<class 'tuple'>

In [53]:
# if we create tuple with one item 

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [3]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [60]:
tuple = ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Chennai"] 

print(tuple[2])

print(tuple[-2]) 


print(tuple[1:5])

Bangalore
Hyderabad
['Delhi', 'Bangalore', 'Hyderabad', 'Chennai']

In [16]:
# we can update the tuple by converting into list by that we again convert it in to tuple 

x = ("apple", "dubai", "mumbai","La","cricket")

y=list(x)

y[1]="abuDhabi" 

x=tuple(y)

print(x)

type(x)

('apple', 'abuDhabi', 'mumbai', 'La', 'cricket')

tuple

In [66]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [68]:
#tuple is unmutable 

tuple=(545,89,78,65,54,54)
print(type(tuple))

print(tuple.count(545))

print(tuple.index(78))

print(tuple.__contains__(78))

# tuple[0]=20 # it will not run bcoz tuple is immutable

print(tuple)

<class 'tuple'>
1
2
True
(545, 89, 78, 65, 54, 54)

In [69]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [72]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits   #<-- 
 
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [73]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [74]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [76]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [77]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)