### sets

In [ ]:
# Duplicate values will be ignored:

# Sets are unordered, so you cannot be sure in which order the items will appear.

In [2]:
set ={'ram','sham','ajay','ram'}   #<-- 
print(set) 
print(type(set)) 


set1={'ram',"ram","ram","ram"}
print(set1) 


set2={3,1,2,4,5,6,9,8,7,9,9,9,9,9,9,9,9,}
print(set2)

{'ram', 'ajay', 'sham'}
<class 'set'>
{'ram'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:

# The values True and 1 are considered the same value in sets, and are treated as duplicates
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [2]:
#  The values False and 0 are considered the same value in sets, and are treated as duplicates:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [3]:
set1 = {"abc", 34, True, 40, "male"}

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [5]:
''' , sets are unordered collections of unique elements, 
and you cannot access elements in a set using indexing (like you would with a list or tuple).
Sets do not support indexing because they are not ordered
, and the elements are not stored in a specific order. '''

thisset = {"apple", "banana", "cherry"} 

for i in range(len(thisset)):
    print(thisset[i])

TypeError: 'set' object is not subscriptable

In [10]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [6]:
bike = {"Harley Davidson", "Honda", "Yamaha", "Ducati", "Kawasaki", "Suzuki","Honda"} 

bike.add("Bullet") 
print(bike)


# set are unorder an it do not allow duplcate

{'Honda', 'Kawasaki', 'Suzuki', 'Ducati', 'Yamaha', 'Bullet', 'Harley Davidson'}

In [14]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"} 

thisset.update(tropical) 
print(thisset)

{'pineapple', 'apple', 'banana', 'papaya', 'mango', 'cherry'}

In [6]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange","apple"]

thisset.update(mylist)
print(thisset)

{'banana', 'orange', 'apple', 'cherry', 'kiwi'}

In [18]:
thisset = {"apple", "bike", "cherry"}

thisset.remove("bike")

print(thisset)

{'cherry', 'apple'}

In [8]:
thisset = ("apple", "bike", "cherry")   # <-- check tuple are immutable  

print(type(thisset))

thisset.remove("bike")

print(thisset)

<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [8]:
thisset = {"apple", "banana", "cherry"}
del thisset

In [9]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3} 

set1.union(set2)

{1, 2, 3, 'a', 'b', 'c'}

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 365,897}

set1.update(set2)
print(set1)  # set is unordered

{1, 2, 897, 'a', 365, 'c', 'b'}

In [11]:
#set 
# set is mutable but  it not allowed repetation / dublicate 

set={23,56,78,87,65,2354,2354,456,33,33,87,87,78,1,1,22}

set2={1,56,99,66,44,22,22}

print(type(set)) 
print(set)

print(set.pop())
print(set.remove(2354))
print(set)

print(set.intersection(set2))  #56,1 ,22 ,it will give you op that common between both set 

print(set.union(set2))   # it will give you all value in both set 

print(set.__contains__(456))
print(set)

<class 'set'>
{65, 1, 33, 456, 78, 2354, 22, 23, 87, 56}
65
None
{1, 33, 456, 78, 22, 23, 87, 56}
{56, 1, 22}
{1, 33, 66, 99, 456, 44, 78, 22, 23, 87, 56}
True
{1, 33, 456, 78, 22, 23, 87, 56}

## Dictionary

In [12]:
# Not alow duplicate members.

a={}
type(a)

dict

In [13]:
city={"mh":"mubai","DL":"Delhi","kn":"banglore","gj":"gandhinagr"} 
print(city)
print(type(city))      


marks={"jay":90,"akashh":91,"akansha":78,"om":56}
print(marks)
print(type(marks))

{'mh': 'mubai', 'DL': 'Delhi', 'kn': 'banglore', 'gj': 'gandhinagr'}
<class 'dict'>
{'jay': 90, 'akashh': 91, 'akansha': 78, 'om': 56}
<class 'dict'>

In [14]:
city={"mh":"mubai","DL":"Delhi","kn":"banglore","gujrat":"gandhinagr"} 
# print(city)
print(type(city)) 

print(city["mh"])

<class 'dict'>
mubai

In [15]:
city={"mh":"mubai","DL":"Delhi","kn":"banglore","gujrat":"gandhinagr"}  
print(city) 

city["up"]='lucknow' 
print(city)

{'mh': 'mubai', 'DL': 'Delhi', 'kn': 'banglore', 'gujrat': 'gandhinagr'}
{'mh': 'mubai', 'DL': 'Delhi', 'kn': 'banglore', 'gujrat': 'gandhinagr', 'up': 'lucknow'}

In [16]:
marks={"jay":90,"akashh":91,"akansha":78,"om":56} 
marks["snehal"]=98 

print(marks) 
print(marks["snehal"])

{'jay': 90, 'akashh': 91, 'akansha': 78, 'om': 56, 'snehal': 98}
98

In [19]:
print(marks.get("jay") )

print(marks.get("jayraj "))  #<<-- it will not give you error

90
None

In [20]:
print(marks["jayraj "])

KeyError: 'jayraj '

In [25]:
print(marks.keys())   # it will give you all keys
print(marks.values())  # it will give you all val

dict_keys(['jay', 'akashh', 'akansha', 'om', 'snehal'])
dict_values([90, 91, 78, 56, 98])

In [26]:
print(marks.items())   # <<-- it will give all separate keys and val in one tuple

dict_items([('jay', 90), ('akashh', 91), ('akansha', 78), ('om', 56), ('snehal', 98)])

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964 ,
   "year": 1964,
   "model": "Mustang"        # check dicionary dont allow repetation 
} 

print(thisdict) 
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2022,
  "year":2024      # duplicate val will overwrite existing val 
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "brand":"cheverlet",
  "model": "camero"  # duplicate val will overwrite existing val 
}
print(thisdict)

{'brand': 'cheverlet', 'model': 'camero'}

In [25]:
print(len(thisdict))

2

In [27]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
} 

print(thisdict["colors"]) 
print(thisdict["colors"][0])

['red', 'white', 'blue']
red

In [47]:
thisdict = dict(name = "John", 
                age = 36, 
                country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [29]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white" 
car["average"]=21

print(x) #after the change 

y= car.values() 
print(y)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color', 'average'])
dict_values(['Ford', 'Mustang', 1964, 'white', 21])

In [55]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

if "brand" in car :
    print("yes")

yes

In [30]:
# chanage items 
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 

car["model"]="mahindra" 

print(car)

{'brand': 'Ford', 'model': 'mahindra', 'year': 1964}

In [60]:
car.update({"year":2035})

In [61]:
#add item

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}  

car["city"]="mumbai"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'city': 'mumbai'}

In [34]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}  

car["city"]="mumbai"
car.update({'color':"red"})
print(car) 

for i in car.keys():
    print(i)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'city': 'mumbai', 'color': 'red'}
brand
model
year
city
color

In [67]:
for i in car.items() :
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)
('city', 'mumbai')
('color', 'red')

In [35]:
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964, 'city': 'mumbai', 'color': 'red'}

In [36]:
del car["color"]
print(car)

{'brand': 'Ford', 'year': 1964, 'city': 'mumbai'}

In [73]:
car.clear()  # it will delete whole dictionary

In [ ]:
# loop is disctionary

In [75]:
print(car.items())
print(car.keys())
print(car.values())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('city', 'mumbai'), ('color', 'red')])
dict_keys(['brand', 'model', 'year', 'city', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'mumbai', 'red'])

In [77]:
car_analysis=car.copy() 
print(car_analysis)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'city': 'mumbai', 'color': 'red'}

In [79]:
car_info=dict(car) 
print(car_info)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'city': 'mumbai', 'color': 'red'}

In [37]:
# Create a dictionary that contain three dictionaries:


family = {
  "child1" : {"name" : "Emil","year" : 2004 },
  "child2" : {"name" : "Tobias", "year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011}
}

In [39]:
cars= {
    "car1":{"name":"scorpio","color":"white","avg":11} ,
    "car2":{"name":"baleno","color":"red","avg":19}  ,
    "car3":{"name":"defender","color":"black","avg":7}     
} 
print(cars) 

#or 

for i in cars.values():
    print(i)

{'car1': {'name': 'scorpio', 'color': 'white', 'avg': 11}, 'car2': {'name': 'baleno', 'color': 'red', 'avg': 19}, 'car3': {'name': 'defender', 'color': 'black', 'avg': 7}}
{'name': 'scorpio', 'color': 'white', 'avg': 11}
{'name': 'baleno', 'color': 'red', 'avg': 19}
{'name': 'defender', 'color': 'black', 'avg': 7}

In [48]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

car1={"name":"scorpio","color":"white","avg":11} 
car2={"name":"baleno","color":"red","avg":19}  
car3={"name":"defender","color":"black","avg":7}    
 
 
cars={"car1":car1 ,
      "car2":car2 ,
      "car3":car3 } 



print(cars) 

# for i in cars:
#       print(i)

# for i in cars.values():
#       print(i)

{'car1': {'name': 'scorpio', 'color': 'white', 'avg': 11}, 'car2': {'name': 'baleno', 'color': 'red', 'avg': 19}, 'car3': {'name': 'defender', 'color': 'black', 'avg': 7}}

In [106]:
print(cars["car1"]["name"] )
print(cars["car1"]["avg"] )
print(cars["car2"]["name"] )
print(cars["car3"]["color"] )

scorpio
11
baleno
black

In [99]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
} 

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

#### Match Case

In [41]:
def check_no(a):
    
    match a:
        
        case 0:
            print("Zero")
        case 1:
            print("One")
        case _:
            print("Other") 
    
    
    

num=int(input("enter the input "))

check_no(num)

One

In [49]:
a = int(input(" enter a number to match : ")) 

match a : 
    
    case 1 :
        print("you are in match case of case no 1 \nwhich print 1 to 10")  
        for i in range(1,11) :
            print(i)
        
    case 2 :
        print("you are in case 2") 
        
        no = 2 
        
        for i in range(1,11) :
            print(f"{no} X {i} = {no*1}")
        
        
        
    case 3:
        line= input("enter a line to print ")
        print(line) 
        
        
    case 4:
        
        def my_fun(num1,num2):
            
            print(" you are inside my function  of case 4 ")
            result= num1*num2 
            return result 


        no1=int(input("enter the first number "))
        no2=int(input("enter the second  number ")) 
        

        solution=my_fun(no1,no2)
        print(f' sum of {no1} and {no2} is :{solution} ')  
        
    case 5:
        
        def my_fun(word1,word2):
            
            print(" you are inside my function  of case 5 ")
            result= word1 +" " +word2 
            return result 


        no1=input("enter the first name ")
        no2=input("enter the second  name  ")
        

        solution=my_fun(no1,no2)
        print(f' 1st word {no1} and 2nd word {no2} is :{solution} ')  
        
       
    case _:                                                  # if it not match anythin it will print res msg 
        print(" sry , your match case it is not mathing anything ")

 you are inside my function  of case 5
 1st word narendra  and 2nd word modi is :narendra  modi

In [44]:

num = int(input("Enter a number: "))

match num % 2:
    case 0:
        print("The number is even.")
    case 1:
        print("The number is odd.")

The number is even.

In [46]:
operation = input("Enter an operation (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

match operation:
    case '+':
        result = num1 + num2
    case '-':
        result = num1 - num2
    case '*':
        result = num1 * num2
    case '/':
        result = num1 / num2
    case _:
        result = "Invalid operation"

print(f"Result: {result}")

Result: 75.0