In [6]:
file= open('xyz.txt','r') 

data=file.read()

print(data)

file.close()

hello everyone how the thing is going today all well?

i thing everyone should have to be happy cause the movement of happyness is come from our mind if we control that
everyone will happy from internally right .

In [4]:
file = open('e:\SQL\SQL_Project\sql_project_6_pizza_sales\pizza_sales.txt','r')

data=file.read()

print(data)

file.close()

select * from pizza_sales ;

-- select total no pizza sales

select sum(total_price) as total_revenue
from pizza_sales ;

-- select avg order per value

select	sum(total_price) / count(distinct order_id)  as avg_order_value
from Pizza_sales ;

-- Total Quantity of pizzas sold

select sum(quantity) as total_pizza_sold
from pizza_sales ;


--

select * from pizza_sales ;

-- total order placed

select count(distinct order_id ) as total_order_placed_till_now
from pizza_sales


--- avg pizza  per order

select sum(quantity) / count(distinct order_id) as avg_pizza_sold_per_order
from pizza_sales



--- Daily Trend for total order per day

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
group by DATENAME(DW , order_date) ;

--- hourly sales trend of pizza


select datepart(hour,order_time) as orders_hours , count(distinct order_id) as total_order_per_hours
from pizza_sales
group by datepart(hour,order_time)
order by datepart(hour,order_time) asc ;


--- monthly trend for sales order

SELECT
    DATEPART(YEAR, order_date) AS order_year,
    DATEPART(MONTH, order_date) AS order_month,
    COUNT(DISTINCT order_id) AS total_orders_per_month
FROM
    pizza_sales
GROUP BY
    DATEPART(YEAR, order_date),
    DATEPART(MONTH, order_date)
ORDER BY
    order_year,
    order_month;

use [Pizza_sales_db ];
	select * from pizza_sales ;

select pizza_category , round(sum(total_price),2)as total_sales , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage
from pizza_sales
group by pizza_category



--- wrt particular month(octomber)

select pizza_category , round(sum(total_price),2)as total_sales_octomber  , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage_for_octomber
from pizza_sales
where month(order_date)= 10
group by pizza_category


-- daily week dayas of sales trend in month of february

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
where month(order_date)= 2
group by DATENAME(DW , order_date) ;


--- hourly sales trends of pizza where in month of january

select datepart(hour,order_time) as orders_hours , count(distinct order_id) as total_order_per_hours
from pizza_sales
where month(order_date)= 1
group by datepart(hour,order_time)
order by datepart(hour,order_time) asc ;



--- here it is total oreder in the 4th quarter

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
where datepart(QUARTER,order_date)= 4
group by DATENAME(DW , order_date) ;



--- percentage of sales by pizza size

select * from pizza_sales


-- sales percentage of pizz by pizza size

select  pizza_size, round(sum(total_price),2)as total_sales , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage
from pizza_sales
group by  pizza_size
order by total_sales desc


-- sales percentage of pizza by category

select pizza_category , round(sum(total_price),2) as total_sales , round(sum(total_price)*100 /(select sum(total_price) from pizza_sales),2 ) as sales_pizza_category
from pizza_sales
group by pizza_category
order by total_sales desc



select pizza_category , round(sum(total_price),2) as total_sales , round(sum(total_price)*100 /(select sum(total_price) from pizza_sales),2 ) as sales_pizza_category
from pizza_sales
where datepart(QUARTER,order_date)= 4
group by pizza_category
order by total_sales desc ;




use [Pizza_sales_db ];
	select * from pizza_sales ;


--- top 5 best selller total pizzas sold


select top 5  pizza_name ,sum(quantity) as total_quantity
from pizza_sales
group by pizza_name
order by sum(quantity) desc ;




--- bottom  5 best selller total pizzas sold


select top 5  pizza_name ,sum(quantity) as total_quantity
from pizza_sales
group by pizza_name
order by sum(quantity)  ;


-- how much sales is there in in hour time for a year with respect to category of pizza

select datepart(hour,order_time) as time_sale  ,pizza_category, round(sum(total_price),2) as total_sale , round(sum(total_price)*100/(select sum(total_price) from pizza_sales),2) as total_percent_of_sale_by_size
from pizza_sales
group by datepart(hour,order_time) , pizza_category
order by time_sale

In [ ]:
"""r= is open for reading 

w = open for writing 

a = open for appending 

+ = is open for updating """ 


" rb " == ' is open for reading in binary file ' 

" rt " == ' is open for reading in txt mode '

In [1]:
# writing in txt file 

file=open('write.txt','w')

file.write(" hi everyone we are in write.txt file we crete it in python program and these file is automatically get created ")

file.close()

In [1]:
file=open("file_writing.txt" ,'w')
file.write(" hi my name is xyz i am writing these these using python language ")
file.close()

In [3]:
# if you want to append another content in existing file then you have to use append menthod 


file=open("file_writing.txt" ,'a')
file.write(" \nnow we are using the append function through which we can add the content in existing file so, \n by using we can add more content in file ")
file.close()

In [2]:

file=open("file_writing.txt" ,'r') 
data=file.read() 
print(data)
file.close()

 hi my name is xyz i am writing these these using python language  noe we are using the append function through which we can add the content in existing file so,
 by using we can add more content in file
now we are using the append function through which we can add the content in existing file so,
 by using we can add more content in file

###  With statment

In [4]:
with open("file_writing.txt"  ,'r') as f :
    a=f.read() 
    print(a) 
    
    
    
    # here we dont need to add f.close()

 hi my name is xyz i am writing these these using python language  noe we are using the append function through which we can add the content in existing file so,
 by using we can add more content in file
now we are using the append function through which we can add the content in existing file so,
 by using we can add more content in file

In [1]:
with open('e:\SQL\SQL_Project\sql_project_6_pizza_sales\pizza_sales.txt', 'r') as f :
    a=f.read()
    print(a)

select * from pizza_sales ;

-- select total no pizza sales

select sum(total_price) as total_revenue
from pizza_sales ;

-- select avg order per value

select	sum(total_price) / count(distinct order_id)  as avg_order_value
from Pizza_sales ;

-- Total Quantity of pizzas sold

select sum(quantity) as total_pizza_sold
from pizza_sales ;


--

select * from pizza_sales ;

-- total order placed

select count(distinct order_id ) as total_order_placed_till_now
from pizza_sales


--- avg pizza  per order

select sum(quantity) / count(distinct order_id) as avg_pizza_sold_per_order
from pizza_sales



--- Daily Trend for total order per day

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
group by DATENAME(DW , order_date) ;

--- hourly sales trend of pizza


select datepart(hour,order_time) as orders_hours , count(distinct order_id) as total_order_per_hours
from pizza_sales
group by datepart(hour,order_time)
order by datepart(hour,order_time) asc ;


--- monthly trend for sales order

SELECT
    DATEPART(YEAR, order_date) AS order_year,
    DATEPART(MONTH, order_date) AS order_month,
    COUNT(DISTINCT order_id) AS total_orders_per_month
FROM
    pizza_sales
GROUP BY
    DATEPART(YEAR, order_date),
    DATEPART(MONTH, order_date)
ORDER BY
    order_year,
    order_month;

use [Pizza_sales_db ];
	select * from pizza_sales ;

select pizza_category , round(sum(total_price),2)as total_sales , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage
from pizza_sales
group by pizza_category



--- wrt particular month(octomber)

select pizza_category , round(sum(total_price),2)as total_sales_octomber  , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage_for_octomber
from pizza_sales
where month(order_date)= 10
group by pizza_category


-- daily week dayas of sales trend in month of february

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
where month(order_date)= 2
group by DATENAME(DW , order_date) ;


--- hourly sales trends of pizza where in month of january

select datepart(hour,order_time) as orders_hours , count(distinct order_id) as total_order_per_hours
from pizza_sales
where month(order_date)= 1
group by datepart(hour,order_time)
order by datepart(hour,order_time) asc ;



--- here it is total oreder in the 4th quarter

select DATENAME(DW , order_date) as order_day , count(distinct order_id) as total_orders_per_day
from pizza_sales
where datepart(QUARTER,order_date)= 4
group by DATENAME(DW , order_date) ;



--- percentage of sales by pizza size

select * from pizza_sales


-- sales percentage of pizz by pizza size

select  pizza_size, round(sum(total_price),2)as total_sales , round(sum(total_price)* 100 / (select sum(total_price) from pizza_sales),2)  as total_sales_percentage
from pizza_sales
group by  pizza_size
order by total_sales desc


-- sales percentage of pizza by category

select pizza_category , round(sum(total_price),2) as total_sales , round(sum(total_price)*100 /(select sum(total_price) from pizza_sales),2 ) as sales_pizza_category
from pizza_sales
group by pizza_category
order by total_sales desc



select pizza_category , round(sum(total_price),2) as total_sales , round(sum(total_price)*100 /(select sum(total_price) from pizza_sales),2 ) as sales_pizza_category
from pizza_sales
where datepart(QUARTER,order_date)= 4
group by pizza_category
order by total_sales desc ;




use [Pizza_sales_db ];
	select * from pizza_sales ;


--- top 5 best selller total pizzas sold


select top 5  pizza_name ,sum(quantity) as total_quantity
from pizza_sales
group by pizza_name
order by sum(quantity) desc ;




--- bottom  5 best selller total pizzas sold


select top 5  pizza_name ,sum(quantity) as total_quantity
from pizza_sales
group by pizza_name
order by sum(quantity)  ;


-- how much sales is there in in hour time for a year with respect to category of pizza

select datepart(hour,order_time) as time_sale  ,pizza_category, round(sum(total_price),2) as total_sale , round(sum(total_price)*100/(select sum(total_price) from pizza_sales),2) as total_percent_of_sale_by_size
from pizza_sales
group by datepart(hour,order_time) , pizza_category
order by time_sale

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Jayraj\AppData\Local\Temp\ipykernel_13712\28625986.py:1: SyntaxWarning: invalid escape sequence '\S'
  with open('e:\SQL\SQL_Project\sql_project_6_pizza_sales\pizza_sales.txt', 'r') as f :

In [2]:
with open("xyz.txt" , 'w') as f :
    a=f.write(" by using with statement we are writing in these xyz.txt file ")
    print(a)

62

In [3]:
with open('xyz.txt', 'a') as f :
    f.write("hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii") 
    f.close()

In [3]:
with open('xyz.txt' , 'r') as f:
    a=f.read()
    print(a)

 by using with statement we are writing in these xyz.txt file hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
 these is new line here 1

In [2]:
with open("xyz.txt" , "a") as f :
    f.write("\n these is new line here 1" )

In [7]:
with open("xyz.txt" , "a") as f :
    f.write("\n these is 2nd new line here no 2 " )

In [9]:
with open("xyz.txt" , "r") as f :
    all_line=f.read()
    
    print(all_line)

 by using with statement we are writing in these xyz.txt file hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
 these is new line here 1
 these is 2nd new line here no 2
 these is 2nd new line here no 2

In [8]:
# write programe yo check " 'language'" word id present in  "file_writing.txt"  function 

file=open("file_writing.txt")

file1=file.read()

if 'language' in file1:
    print(" these word is present in file1")
else:
    print(" these word is not present in these file ")

 these word is present in file1

In [9]:

file=open("file_writing.txt")

file.read()

if 'language' in file:
    print(" these word is present in file1")
else:
    print(" these word is not present in these file ")

 these word is not present in these file

In [12]:
def game():
    return 890

score=game()
with open("class_marks.txt") as f :
   highscore=int(f.read()) 

if highscore<score:
    with open("class_marks.txt",'w') as f :
        f.write(str(score))

In [13]:
import os 

new_directory= "DL_folder"

os.mkdir(new_directory )

print(f"new directory is created name is {new_directory}")

new directory is created name is DL_folder

In [15]:
# list of file and directory 

items=os.listdir('.')  

for item in items :
    print(item)

.git
1.python_basic.ipynb
10.oops_concept.ipynb
11.exception_handling.ipynb
12.__name__==__main__.ipynb
13.global_keyward_listC.ipynb
14.requirement.txt
14.virtual_environment.ipynb
15.lamda_func.ipynb
16.join_map_filter_reduce.ipynb
17.flask.ipynb
17.flask.py
18.laibrary_mangement _system.ipynb
2.operators_in_python.ipynb
3.inputs_in_python.ipynb
4.list&Tuple.ipynb
5.sets&dictionary&matchCase.ipynb
6.if_else_while_for.ipynb
7.functions.ipynb
8.file_input_output.ipynb
9.opps.ipynb
class_marks.txt
cwh
DL_folder
file_writing.txt
flask
highscore.txt
index.html
modules
practise_set
python_notes
Python_Projects_in_VS
stremlit
vr.py
write.txt
xyz.txt
__main__
__pycache__

In [17]:
# we want to check the absolute path then 

relative_path ="functions.ipynb" 

absolute_path =os.path.abspath(relative_path) 

print(absolute_path)

e:\Python\functions.ipynb